body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  color: #393939;/*614326*/
  background-color: #f3f3f3;/*e9d8ad*/
}

a {
  text-decoration: none;
  color: #393939;
}

a:hover {
  color: #3e99ed;
}